body {
    position: relative; /* Set body as relative for positioning the logo */
   
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    /* Other styles */
    background: #111;
    margin: 40px;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #EEEEEE ;
    padding: 0 10px;
}

h1,h2,h3 {
    line-height: 1.2;
}

a {
    color: #1E90FF;
    text-decoration: none;
}

a:hover {
    color: #6495ED;
}

a:visited {
    color: #4682B4;
}

a:active {
    color: #1C86EE;
}

.content-section {
    /* display: none; */
    margin-top: 20px;
}
.content {
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Stack elements vertically */
}


.header {
    position: fixed; /* Keep fixed positioning */
    top: 0; /* Position at the top */
    right: 0; /* Position at the right */
  
    padding: 20px 20px; /* Maintain padding */
    z-index: 1110; /* Ensure it's above other content */
}

.logo {
    width: 200px; /* Set the desired width for the logo */
    height: auto; /* Maintain aspect ratio */
}
    